*.log
php_errorlog
.DS_Store


wp-config.php
wp-config.*
CFA-content/advanced-cache.php
CFA-content/backup-db/
CFA-content/backups/
CFA-content/blogs.dir/
CFA-content/cache/
CFA-content/dbs/
CFA-content/languages/
CFA-content/upgrade/
CFA-content/uploads/
CFA-content/mu-plugins/
CFA-content/wp-cache-config.php
CFA-content/plugins/*
!CFA-content/plugins/cfa/
!CFA-content/plugins/google-analytics-dashboard-for-wp
wordpress


/.htaccess
/sitemap.xml
/sitemap.xml.gz
