
/**********************************/
/*        PRINT-ONLY LAYOUT       */
/**********************************/

body {
width: 768px;
margin: 20px auto;
}
#main-nav-wrapper {
left: 0;
width: 768px;
}
h3.wp-caption-text.gallery-caption {
font-size: 12px;
}

p { 
  widows:3;
  orphans: 3;
  font-size: 14px; 
  line-height: 20px;
}
#site-navigation { position: initial; }
#logo { 
    -webkit-print-color-adjust: exact;
}
#whitecurtain, 
ul#header-menu, 
#lang-switcher, 
#social-pad, 
div.crafty-social-buttons {
    display: none;
}
body:after { content: "© Conceptual Fine Arts. All Rights Reserved."; font-size:12px; text-align: center;  }
