
/**********************************/
/*        PRINT-ONLY LAYOUT       */
/**********************************/

@page {
   margin: 2cm;
   size: portrait;
}
#logo-print { 
    margin-top: 20px;
    text-align: center;
    display: block;
}
#whitecurtain,
#site-navigation,
.prevContainer,
.nextContainer,
div.crafty-social-buttons,
.posttags {
    display: none;
}

.single h1 {
    margin-top: 50px;
}

h3.wp-caption-text.gallery-caption {
font-size: 12px;
}

p { 
  widows:3;
  orphans: 3;
  font-size: 14px; 
  line-height: 20px;
}
img { max-height:  }

body:after { 
	content: "© Conceptual Fine Arts. All Rights Reserved."; 
	font-size:12px; 
	text-align: center; 
	width: 100%;
	display: inline-block;
	padding-bottom: 60px;
}
