@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arapey Regular'), local('Arapey-Regular'), url(https://fonts.gstatic.com/s/arapey/v9/-W__XJn-UDDA2RCKYNoY.ttf) format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(https://fonts.gstatic.com/s/benchnine/v9/ahcev8612zF4jxrwMosT6-xhgmy4.ttf) format('truetype');
}
